* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(135deg, #f7b59c, #fde6d8);
  min-height: 100vh;
}

 .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #fffaf6;
}

.logo {
  color: #e07b5f;
}

.navbar nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.cart span {
  background: #e07b5f;
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 12px;
}

 
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  position: relative;
}

.hero-left img {
  max-width: 380px;
  border-radius: 20px;
}

.hero-right {
  max-width: 500px;
}

.subtitle {
  color: #e07b5f;
  margin-bottom: 10px;
}

.subtitle span {
  font-weight: bold;
}

.hero-right h1 {
  font-size: 52px;
  line-height: 1.1;
  margin-bottom: 30px;
  color: #222;
}

.btn {
  padding: 12px 30px;
  border: 1px solid #333;
  background: transparent;
  cursor: pointer;
  margin-bottom: 40px;
  border-radius: 20px;
}

.btn:hover{
  background: #e58f73;
   color: white;
}
 
.info-box {
  background: #e58f73;
  padding: 25px;
  color: white;
  border-radius: 10px;
}

.info-box h3 {
  margin-bottom: 10px;
}

.info-box p {
  font-size: 14px;
  margin-bottom: 10px;
}

.info-box a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

 .product {
  text-align: center;
}

.product img {
  width: 120px;
}

.product p {
  margin-top: 10px;
  color: #333;
}

 @media (max-width: 900px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-left img {
    width: 250px;
    margin-bottom: 30px;
  }

  .hero-right h1 {
    font-size: 40px;
  }

  .product {
    margin-top: 30px;
  }
}

@media (max-width: 500px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .navbar nav a {
    margin: 0 10px;
  }

  .hero-right h1 {
    font-size: 32px;
  }
}
